/* reset styles */
html {
   font-size: 16px;
}
a, article, body, div, fieldset, figcaption, figure, footer, form, header, h1, 
h2, h3, img, input, label, legend, li, nav, p, section, textarea, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
figcaption {
   border: 0;
   padding: 0;
   margin: 0;
   color: white;
   text-align: left;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}
ul {
   list-style-type: none;
}

/* document-wide styles */
body {
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
}
p {
   line-height: 1.4em;
   font-size: 1.3em;
}
a:link {
   color: white;
}
a:visited {
   color: white;
}
.container {
   background-color: #B8944D;
   position: relative;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: ivory;
   background-color: #34180f;
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
}

/* header section */
h1 {
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: ivory;
   background-color: lightblue;
   font-size: 2.4em;
}

/* site navigation bar */
nav {
   display: flex;
   justify-content: space-between;
   color: white;
   text-align: center;
   background-color: darkblue;
}
nav .logo {
   height: 60px;
   width: fit-content;
   align-self: center;
}
nav .logo img {
   height: 100%;
}
nav li {
   margin: 0.3em 1.5em;
   display: inline-block;
   font-size: 1.3em;
   line-height: 1.4em;
   position: relative;
}
nav ul {
   width: 100%;
   margin: 1.3em;
   list-style: none;
   display: inline-block;
   align-self: center;
}
nav ul li {
   display: inline-block;
   margin: 0.3em l.5em;
   height: 100%;
   line-height: 1.3em;
   font-size: 1rem;
} 
nav ul li a {
   color: white;
   background-color: darkblue;
}
nav a:link {
   text-decoration: none;
   color: white;
}
nav ul li a:hover, nav a:focus {
   color: lightblue;
}
.nav-button a {
	background-color: ivory;
	color: darkblue;
	padding: 10px 20px;
	border: 4px solid ivory;
	border-radius: 50px;
	text-decoration: none;
	display: inline-block;
	transition: 0.3s;
}
.nav-button a:hover {
	background-color: darkblue;
	color: ivory;
	border: 4px solid white;
}
.current_page:before {
   width: 60px; 
   height: 60px; 
   display: inline-block;
   position: absolute;
   top: -16px;
   left: -50px;
   content: url("");
}
nav ul li ul {
   visibility: hidden;
   opacity: 0;
   display: none;
   position: relative;
   transition: all ease-in-out 100ms;
} 
nav ul li ul li a {
   white-space: nowrap;
}
nav li:hover>ul {
   visibility: visible;
   opacity: 1;
   display: block;
} 
.icon {
   height: 60px;
   width: fit-content;
   position: relative;
   display: inline-block;
   margin: 0.3em 0 0.8em;
}
.icon img {
   height: 100%;
}
/* main content */
article {
   margin: 0 auto;
   padding: 1.4em;
   background: #7eccec;
   background-image: url("images/house.png");
   background-size: cover;
}
article div {
   max-width: 854px;
   margin: 0 auto;
   padding: 0 3% 1.4em;
   background-color: ivory;
   overflow: auto;
}
article div.no-heading {
   padding-top: 1.6em;
   font-size: 1.2em;
}
.wrapper {
   padding: 0 3em;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   gap: 5rem; 
}
.intro {
   flex: 1;
}
.jpg {
   width: 100%;
   max-width: 600px;
   object-fit: cover;
   vertical-align: middle;
   float: left;
}
h2 {
   padding: 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}
h3 {
   margin-bottom: 0.6em;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   float: left;
   clear: both;
}
.lowh {
   padding-top: 1.6rem;
}
section {
   margin-top: 1em;
   padding: 1em;
   overflow: auto;
   background-color: blue;
}
section p {
   margin: 1em 0;
   clear: left;
   color: white;
}
figure {
   max-width: 80%;
   margin-right: 1em 0;
   float: left;
}
figcaption {
   text-align: center;
}
.yellow {
   color: yellow;
}

/* form styles */
form {
   max-width: 400px;
   padding: 10px;
   margin: 0 auto;
}
.form-instructions {
   color: red;
   text-align: center;
}

/* fieldset styles */
fieldset {
   margin-bottom: 0.8em;
}
legend {
   font-size: 1.25em;
}

/* field styles */
input, textarea {
   border: 1px solid #ccc;
   padding: 0.2em;
   font-size: 1em;
   display: block;
}
.contactinfo input {
   width: 25em;
   margin-bottom: 0.6em;
}
textarea {
   width: 25em;
   height: auto;
}
#submit {
   border: none;
   padding: 0.4em 0.6em;
   margin: 0 auto;
   background-color: #e3d5ba;
   font-size: 1.25em;
   border-radius: 10px;
}

/* label styles */
label {
   margin: 0.8em 0;
   font-size: 1em;
   line-height: 1.6em;
   font-weight: bold;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: #34180f;
   color: ivory;
   text-align: center;
   line-height: 1.4em;
   font-size: 1em;
}
footer img {
   vertical-align: baseline;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}